set timeout=10
set default=0

menuentry "Razzle OS" {
    multiboot /boot/kernel.bin
    boot
}

menuentry "Reboot" {
    reboot
}

menuentry "Shutdown - just press the fucking power button" {
}

menuentry "Reboot to BIOS" {
    reboot
}
